
// ----- FONTS COLORS -----
$primary-color-BRIGHT: #E83E20;
$default-color-LIGHT:#fff;

// ----- CONTENTS COLORS -----
$primary-content-color-BRIGHT: #E83E20;
$secondary-content-color-DARK: #171E22;
$nuance-DARK: #232D33;
$BG-color-card-title: #646A73;
