@import 'colorsProperties';

// ----- FONTS PROPERTIES -----
    // --- FAMILY ---
    @font-face {
        font-family: gaoel;
        src: url(fonts/GAOEL.ttf);
    }
    $primary-font-family: 'Lato', sans-serif;
    $secondary-font-family: 'Audiowide', cursive;
    $main-title-font-family: 'GAOEL';

  // --- SIZE ---
  html{
    font-size: 16px;
  }
    $primary-font-size-LARGE: calc(0.35rem + 0.85vw);
    $secondary-font-size-MEDIUM:  calc(0.35rem + 0.6vw);
    $title-default-font-size:calc(0.35rem + 1vw);
    $title-secondary-font-size:32px;
    $title-mobil-font-size:48px;
    $title-desktop-font-size: calc(1rem + 2vw);

    // --- WEIGHT ---
    $primary-font-weight-BOLD: bold;
    $secondary-font-weight-REGULAR: regular;

    $line-height:1.5;

//----------------------------------------------

// ****************************
// ******* MIXINS FONTS *******
// ****************************
@mixin primary-font-properties-LARGE (
    $family: $primary-font-family,
    $size: $primary-font-size-LARGE,
    $weight: $primary-font-weight-BOLD,
    $color: $default-color-LIGHT,  
    ){
    font: $size $weight;
    font-family: $family;
    color: $color;
    };
    
@mixin primary-font-properties-MEDIUM (
    $family: $primary-font-family,
    $size: $secondary-font-size-MEDIUM,
    $weight: $secondary-font-weight-REGULAR,
    $color: $default-color-LIGHT,
    $line-height: $line-height,  
    ){
    font: $size $weight;
    font-family: $family;
    color: $color;
    line-height: $line-height;
    };
    
@mixin default-title-properties (
    $family: $secondary-font-family,
    $size: $title-default-font-size,
    $weight: $secondary-font-weight-REGULAR,
    $color: $default-color-LIGHT,  
    ){
    font: $size $weight;
    font-family: $family;
    color: $color;
    };
    
@mixin primary-title-properties (
    $family: $primary-font-family,
    $size: $title-default-font-size,
    $weight: $secondary-font-weight-REGULAR,
    $color: $default-color-LIGHT,  
    ){
    font: $size $weight;
    font-family: $family;
    color: $color;
    };

@mixin mobil-header-properties (
    $family: $main-title-font-family,
    $size: $title-mobil-font-size,
    $weight: $secondary-font-weight-REGULAR,
    $color: $primary-color-BRIGHT,  
    ){
    font: $size $weight;
    font-family: $family;
    color: $color;
    };

@mixin desktop-header-properties (
    $family: $main-title-font-family,
    $size: $title-desktop-font-size,
    $weight: $secondary-font-weight-REGULAR,
    $color: $primary-color-BRIGHT,
    $line-height: $line-height,  
    ){
    font: $size $weight;
    font-family: $family;
    color: $color;
    line-height: $line-height;
    };
// >>>>>> Lien balises A dans Header DANS Dropdown <<<<<<<<
@mixin box-links-properties{
    color: $default-color-LIGHT;
    &:link{
        text-decoration: none;
    }
    &:visited{
        display: none;
    }
    &:hover{
        color: $default-color-LIGHT;
    }
    &:active{
        color: $secondary-content-color-DARK;
    }
}
// >>>>>> Content balises LI HORS Dropdown <<<<<<<<
@mixin box-properties{
    color: $default-color-LIGHT;
    &:link{
        text-decoration: none;
    }
    &:visited{
        display: none;
    }
    &:hover{
        background: $primary-color-BRIGHT;
        transition: background 1s cubic-bezier(0, 0.9, 0.44, 0.98);
        //transition-delay: 2s;
        //transition-property: background;
    }
    &:active{
        color: $secondary-content-color-DARK;
    }
}
// >>>>>> HERO Properties <<<<<<<<
@mixin hero-properties{
    display: flex;
    width: 100% ;
    height: 25vh;
    justify-content: center;
    align-items: center;
    position: relative;

    // filtre noir HERO
    &:before{
        content: "";
        position: absolute;
        background: black;
        opacity: 0.4;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
//----------------------------------------------

// **********************************************
// ******* EXTENDS PLACEHOLDER PROPERTIES *******
// **********************************************

// >>>>>> Lien balises A dans Header HORS Dropdown <<<<<<<<
%links-properties{
    color: $default-color-LIGHT;
    &:link{
        text-decoration: none;
    }
    &:visited{
        display: none;
    }
    &:hover{
        color: $primary-color-BRIGHT;
    }
    &:active{
        color: $secondary-content-color-DARK;
    }

}
// >>>>>> Disposition de base <<<<<<<<
%display-default{
    display: flex;
    justify-content: center;
    margin: auto;
}
// >>>>>> Disposition titres Tops Content <<<<<<<<
%display-tops-title{
    background: $primary-content-color-BRIGHT;
    font-size: $title-default-font-size;
    font-family: $secondary-font-family;
    min-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
