// ------ LOGO ------
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    min-height: 10vh;
    width: 90%;
    
    .logo-nav{
        width: 6vw;
        margin-right: 1%;
        //height: 50%;
        justify-content: center;
        align-items: center;
        .img-logo{
            max-width: 100%;
        }
    }
}

// ------ MENU de NAVIGATION ------
    // ****** Navbar-middle Contenu ******
    .navbar-middle{
        display: flex;
        background: $nuance-DARK;
        align-items: center;
        width: 90%;

        // *** Menu Balise UL ***
        .navbar-nav{
            padding: 0px;
            display: flex;
            width: 100%;
            margin: 0% auto 0% auto;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            
            // ** Balises LI **
            .nav-item{
                display: flex;
                justify-content: center;
                width: 20%;
                padding: 0.7vw 0.9vw;
                // * Balises A *
                .nav-link{
                    color: $default-color-LIGHT;
                    @extend %links-properties;
                }
                .nav-link-deroulant{
                    @extend %box-properties;
                }
            }

            // ** Menus Déroulants **
            // * Balise LI *
            .dropdown{
                position: relative;
                
                // * Balise UL dans LI du menu déroulant*
                .dropdown-menu{
                    display: none;
                    top: 82%;
                    left: 30%;
                    padding: 0%;
                    list-style: none;
                    width: 15vmax;
                    background: $secondary-content-color-DARK;
                    color: $default-color-LIGHT;
                    border-radius: 0px;
                    position: absolute;
                    overflow: auto;
                    
                    // * Balise A du menu déroulant
                    .dropdown-item{
                        padding: 5%;
                        @extend %box-properties;
                        .dropdown-link{
                            color: $default-color-LIGHT;
                            @extend %box-links-properties;
                            padding: 5%;
                        }
                    }
                }
                &:hover .dropdown-menu{
                    display: flex;
                    flex-direction: column;
                    //display: block;
                }
            }
            // **fin** ** Menus Déroulants **
        }
        // **fin** *** Menu Balise UL ***
    }
    // **fin ** **** Navbar-middle Contenu ****

    // -- SEARCH BOX --
    .input-search{
        padding: 0.5vw;
        background: $secondary-content-color-DARK;
        color: $default-color-LIGHT;
        border: none;
        &:focus{
            color: $default-color-LIGHT;
        }
    }
    .btn-search{
        padding: 0.5vw;
        color: $default-color-LIGHT;
        border-color: $BG-color-card-title;
        &:focus{
            color: $default-color-LIGHT;
        }
        @extend %box-properties;
    }
    // -- **fin** SEARCH BOX --
// ---- **fin** MENU de NAVIGATION ----

// ---- BOUTON LOGIN ----
.login-content{
    width: 10vw;
    margin-left: 1%;
    .header-connect-button{
        width: 10%;
        @extend %links-properties;
    }
}